<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有试卷</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="${request.contextPath}/bootstrap-3.3.7-dist/css/bootstrap.min.css" >
    <script src="${request.contextPath}/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<table class="table table-hover">
    <h1>    所有试卷</h1>
    <thead>
    <tr>
        <th>编号</th>
        <th>标题</th>
        <th>考试时间</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>过期时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <#list testPapers as testPaper>
    <tr>
        <td>${testPaper.id}</td>
        <td>${testPaper.title}</td>
        <td>${testPaper.lastTime}</td>
        <td>${user.name}</td>
        <td>${testPaper.createTime?string("yyyy-MM-dd HH:mm:ss")}</td>
        <td>${testPaper.expireTime?string("yyyy-MM-dd HH:mm:ss")}</td>
        <td><a href=""></a>考试</td>
    </tr>
    </#list>
    </tbody>
</table>

</body>
</html>
</body>
</html>