body{
    background:url("../image/hero-illustration.svg");
}
li{list-style: none}
.loginModel{
    width: 450px;
    height: 360px;
    margin: 0 auto;
    margin-top: 10%;
    background: #ffffff;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
}
#logo{
    margin: 0 auto;
    width: 350px;
    height: 40px;
    color: #4D4D4D;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid 1px #104E8B;
}
#login{
    width: 450px;
    height: 200px;
}
#login form{
    margin-top: 40px;
}
#login li{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;

}
#login input{
    width: 280px;
    height:40px;
    border-radius:5px;
    border: solid 1px #CCCCCC;
}

#login #check input{
    width: 150px;
    margin-right: 10px;
}
#login #button {
    text-align: center;
}
#login #button_ok {
    width: 150px;
    margin-top: 20px;
    background:#104E8B ;
    color: #ffffff;
    font-size: 15px;
    border: none;
}
#login_foot{
    width: 450px;
    margin-top: 20px;
}
#login_foot1{
    float: left;
    margin-left: 5px;
    font-size: 15px;
    color:#41a1ef ;
}
#login_foot2{
    color: #41a1ef;
    float: right;
    margin-right: 5px;
    font-size: 15px;
}

