#page-content,
.solutions {
  width: 80%;
  border-color: #fff;
  margin: 30px auto 0;
  position: relative;
}

#page-content>label {
  margin-top: 16px;
  display: inline-block;
}
#page-content>label>span {
  font-family:PingFangSC-Regular;
  font-size:18px;
  color:#4a4a4a;
}

#page-content>label>select {
  width: 100px;
  height: 30px;
}
#page-content>label>input {
  width: 260px;
  height: 30px;
}

#page-content>label>.items{
  margin-top: 16px;
  font-size: 18px;
}

.items input {
  width: 260px;
  height: 30px;
}

input[type='radio'] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 16px;
}
input[type='checkbox'] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  margin-top: 16px;
}
label>button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #00c49e;
  border-radius: 5px;
  color: #fff;
  margin-top: 16px;
}

.save::before {
  display: inline-block;
  content: '';
  width: 28px;
  height: 28px;
  background: url('/image/save.png') 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 3px;
  left: 0;
}
.save {
  position: absolute;
  top: 0;
  right: 0;
  font-family:PingFangSC-Regular;
  font-size:18px;
  color:#00c49e;
  line-height: 36px;
  padding-left: 32px;
}

.solutions {
  margin: 80px auto 0;
}

.bar {
  position: relative;
}
.bar>span {
  display: inline-block;
  width: 130px;
  line-height: 36px;
  background-color: #00c49e;
  border-radius: 18px;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}
.line {
  width: calc(100% - 150px);
  height: 2px;
  background-color: #dfdfdf;
  position: absolute;
  top: 17px;
  right: 0;
}

.editbox {
  text-align: center;
}
#solution-textarea {
  width: 60%;
  height: 200px;
  margin: 30px auto 100px;
  resize: none;
  padding: 12px;
  position: relative;
}
