.add-test-pager {
  width: 80%;
  border-color: #fff;
  margin: 30px auto 0;
  position: relative;
  display: none;
}

.basic-message {
  display: inline-block;
  background-color: #ffcd00;
  border-radius: 13px;
  width: 100px;
  text-align: center;
  line-height: 26px;
  font-size: 18px;
  color: #fff;
}

.msg-content {
  margin-top: 16px;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 16px;
}
.msg-content>label {
  display: inline-block;
  margin-top: 12px;
}

label>span {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

label>input {
  background:#ffffff;
  border:1px solid #e0e0e0;
  border-radius:5px;
  width:200px;
  height:36px;
  padding-left: 5px;
  outline: none;
}

.save::before {
  display: inline-block;
  content: '';
  width: 28px;
  height: 28px;
  background: url('/image/save.png') 0 0 no-repeat;
  background-size: contain;
  position: absolute;
  top: 3px;
  left: 0;
}
.save {
  position: absolute;
  top: 0;
  right: 0;
  font-family:PingFangSC-Regular;
  font-size:18px;
  color:#00c49e;
  line-height: 36px;
  padding-left: 32px;
}

.fetch-test-paper>h3 {
  margin-top: 24px;
}
.btns{
  text-align: center;
  margin-top: 80px;
}
.btns>span {
  display: inline-block;
  width: 160px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
.btns>span:nth-of-type(1) {
  background: #00c49e;
  margin: 15px;
}
.btns>span:nth-of-type(2) {
  background: #4990e2;
}