<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnlineTest</title>
</head>
<link rel="stylesheet" href="../static/css/login.css" type="text/css">
<body>
    <div class="loginModel">
        <div id="logo" > 用户登录</div>
        <div id="login">
            <form action="/student/login" method="post">
                <center style="color: red"> <#if msg??>
                    ${msg}
                </#if></center>

                <li><input type="text" name="username" placeholder="用户名"><br></li>
                <li> <input type="password" name="password" placeholder="密码"><br></li>
                <li id="check"><input type="text" name="imageCheck" placeholder="验证码"><img src="/util/getImageCheck"></li>
                <div id="button"><input id="button_ok" type="submit" value="登录"></div>

            </form>
            <div id="login_foot">
                <div id="login_foot1"><a>忘记密码</a></div>
                <div id="login_foot2"><a href="/student/toRegisterPage">注册</a></div>
                <div style="clear: both"></div>
            </div>
        </div>

    </div>

</body>
</html>